:root {
  --backgroundColor: #121214;
  --primaryColor: #e1e1e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--primaryColor);
  background: var(--backgroundColor);
}